@model ServiceFeeAndTaxesDto
@{
    Layout = "_DashboardLayout";
}

<div class="header bg-gradient-primary py-3 ">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="text-white text-left mb-0">
                        @*<i class="fas fa-cogs"></i>*@

                        <img src="@Url.Content("~/img/newicons/fees-taxes.png")" class="img-fluid" width="40px" />&nbsp;
                        Service Fee and Taxes
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-3">
    <div class="container-fluid">
        <div class="card shadow-sm">
            <div class="card-body py-3 px-3">
                <form id="UpdateFeesAndTaxesForm" class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">

                        <vc:input id="ServiceFee" label="@SystemConstantName.RegularFees/Regular Comission (in percentage)" type="text" class="dollar-inputmask" required="true" placeholder="" value="@Model.Fee" disabled="false"></vc:input>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">

                        <vc:input id="BoisterousServiceFee" label="@SystemConstantName.BoisterousFees/Pro Comission (in percentage)" type="text" class="dollar-inputmask" required="true" placeholder="" value="@Model.BoisterousFee" disabled="false"></vc:input>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">

                        <vc:input id="TaxesValue" label="@SystemConstantName.Taxes (in percentage)" type="text" class="dollar-inputmask" required="true" placeholder="" value="@Model.Taxes" disabled="false"></vc:input>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                        <button type="submit" class="btn btn-dark-as-homepage"><i class="fas fa-check"></i> Save changes</button>
                    </div>

                </form>


            </div>
        </div>

    </div>
</div>



<input id="UpdateServiceFeeAndTaxesURL" hidden value="@Url.Action("UpdateServiceFeeAndTaxes", "Backend")" />

@section Scripts{
    <script src="@Url.Content("~/app/Backend/ServiceFeeAndTaxes.js")" asp-append-version="true"></script>
}