@model AdminSidebarDto
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <a class="navbar-brand pt-0 timezoneoffset" asp-action="Index" asp-controller="Backend">
                    <img src="@Model.AppLogo" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 h-100 justify-content-center align-items-center">
                <p class="m-0 py-2 " id="CountDownKnockOutWrapper">@Model.SessionTimeout:00</p>
            </div>
        </div>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a asp-action="Index" asp-controller="Backend" class="timezoneoffset">
                            <img src="@Model.AppLogo">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Index")" asp-action="Index" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/dashboard.png")" class="img-fluid" width="20px" />&nbsp; Dashboard @*<i class="fas fa-chart-line"></i> Dashboard*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "AccessLogs")" asp-action="AccessLogs" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/access.png")" class="img-fluid" width="20px" />&nbsp; Access Logs @*<i class="fas fa-history"></i> Access Logs*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Messages,MessagesFromUser")" asp-action="Messages" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/messages.png")" class="img-fluid" width="20px" />&nbsp; Messages @*<i class="fas fa-comment-dots"></i> Messages*@
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "MediaManager")" asp-action="MediaManager" asp-controller="Backend" id="">
                        <img src="@Url.Content("~/img/newicons/media.png")" class="img-fluid" width="20px" />&nbsp; Media @*<i class="far fa-images"></i> Media*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset" asp-action="Index" asp-controller="Home">
                        <i class="fas fa-globe-americas"></i> Go to Shortchase
                    </a>
                </li>
            </ul>

            <!-- Divider -->
            <hr class="my-3">

            <!-- Heading -->
            @{
                string section2Check = Html.IsSelected("Backend", "BetListings,POTD");
                string section2Display = "display:none;";
                string section2Status = "closed";
                string section2TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section2Check))
                {
                    section2Display = "";
                    section2Status = "open";
                    section2TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section2TitleColor" data-status="@section2Status" data-section="menu-section-2">Listings <i class="fas fa-chevron-circle-down" id="menu-section-2-icon"></i></h6>

            <ul class="navbar-nav" style="@section2Display" id="menu-section-2">
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "BetListings")" asp-action="BetListings" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/bet-listings.png")" class="img-fluid" width="20px" />&nbsp; Listings @*<i class="fas fa-list-ul"></i> Bet Listings*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  timezoneoffset @Html.IsSelected("Backend", "POTD")" asp-action="POTD" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/potd-posts.png")" class="img-fluid" width="20px" />&nbsp; Predictions @*<i class="fas fa-star"></i> Pick of The Day*@
                    </a>
                </li>
            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            @{
                string section1Check = Html.IsSelected("Backend", "ListingCategories,ListingSubCategories,Markets,Tips,Bookmakers,Picks,Currencies,ServiceFeeAndTaxes");
                string section1Display = "display:none;";
                string section1Status = "closed";
                string section1TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section1Check))
                {
                    section1Display = "";
                    section1Status = "open";
                    section1TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section1TitleColor" data-status="@section1Status" data-section="menu-section-1">Bet Listings Settings <i class="fas fa-chevron-circle-down" id="menu-section-1-icon"></i></h6>

            <ul class="navbar-nav" style="@section1Display" id="menu-section-1">

                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ListingCategories")" asp-action="ListingCategories" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/categories.png")" class="img-fluid" width="20px" />&nbsp; Categories @*<i class="fas fa-tags"></i> Categories*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ListingSubCategories")" asp-action="ListingSubCategories" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/subcategories.png")" class="img-fluid" width="20px" />&nbsp; Subcategories @*<i class="fas fa-tags"></i> Subcategories*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Picks")" asp-action="Picks" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/picks.png")" class="img-fluid" width="20px" />&nbsp; Picks @*<i class="fas fa-thumbtack"></i> Picks*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Markets")" asp-action="Markets" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/markets.png")" class="img-fluid" width="20px" />&nbsp; Markets @*<i class="fas fa-bullseye"></i> Markets*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Tips")" asp-action="Tips" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/tips.png")" class="img-fluid" width="20px" />&nbsp; Tips @*<i class="fas fa-check-circle"></i> Tips*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "Bookmakers")" asp-action="Bookmakers" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/bookmaker.png")" class="img-fluid" width="20px" />&nbsp; Bookmakers @*<i class="fas fa-address-book"></i> Bookmakers*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  timezoneoffset @Html.IsSelected("Backend", "Currencies")" asp-action="Currencies" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/currency.png")" class="img-fluid" width="20px" />&nbsp; Currencies @*<i class="fas fa-money-check-alt"></i> Currencies*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  timezoneoffset @Html.IsSelected("Backend", "ServiceFeeAndTaxes")" asp-action="ServiceFeeAndTaxes" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/fees-taxes.png")" class="img-fluid" width="20px" />&nbsp; Fees and Taxes @*<i class="fas fa-cogs"></i> Fees and Taxes*@
                    </a>
                </li>

            </ul>
            <!-- Divider -->
            <hr class="my-3">

            <!-- Heading -->
            @{
                string section4Check = Html.IsSelected("Backend", "ManageUsers,ManageUserSubscriptions,ManageBoisterousUsers,ManageBoisterousUserSubscriptions,ManageProUsers,ManageProUserSubscriptions,ManageAdministrators");
                string section4Display = "display:none;";
                string section4Status = "closed";
                string section4TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section4Check))
                {
                    section4Display = "";
                    section4Status = "open";
                    section4TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section4TitleColor" data-status="@section4Status" data-section="menu-section-4">Users <i class="fas fa-chevron-circle-down" id="menu-section-4-icon"></i></h6>

            <ul class="navbar-nav" style="@section4Display" id="menu-section-4">
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ManageUsers,ManageUserSubscriptions")" asp-action="ManageUsers" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/general-users.png")" class="img-fluid" width="20px" />&nbsp; General Users (@Model.TotalUsers) @*<i class="fas fa-user-friends"></i> General Users (@Model.TotalUsers)*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ManageBoisterousUsers,ManageBoisterousUserSubscriptions")" asp-action="ManageBoisterousUsers" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/boisterous.png")" class="img-fluid" width="20px" />&nbsp; Boisterous Bettors (@Model.TotalBoisterous) @*<i class="fas fa-user-plus"></i> Boisterous Bettors (@Model.TotalBoisterous)*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ManageProUsers,ManageProUserSubscriptions")" asp-action="ManageProUsers" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/pro.png")" class="img-fluid" width="20px" />&nbsp; Pro Cappers (@Model.TotalPro) @*<i class="fas fa-user-tag"></i> Pro Cappers (@Model.TotalPro)*@
                    </a>
                </li>
                @if (User.Identity.Name.ToLower() == "admin")
                {
                    <li class="nav-item">
                        <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "ManageAdministrators")" asp-action="ManageAdministrators" asp-controller="Backend">
                            <img src="@Url.Content("~/img/newicons/administrators.png")" class="img-fluid" width="20px" />&nbsp; Administrators @*<i class="fas fa-users-cog"></i> Administrators*@
                        </a>
                    </li>
                }
            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            @{
                string section3Check = Html.IsSelected("Backend", "SubscriptionPlans");
                string section3Display = "display:none;";
                string section3Status = "closed";
                string section3TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section3Check))
                {
                    section3Display = "";
                    section3Status = "open";
                    section3TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section3TitleColor" data-status="@section3Status" data-section="menu-section-3">Subscriptions <i class="fas fa-chevron-circle-down" id="menu-section-3-icon"></i></h6>
            <ul class="navbar-nav" style="@section3Display" id="menu-section-3">
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "SubscriptionPlans")" asp-action="SubscriptionPlans" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/subscriptions.png")" class="img-fluid" width="20px" />&nbsp; Subscription Plans @*<i class="fas fa-file-invoice-dollar"></i> Subscription Plans*@
                    </a>
                </li>
            </ul>


            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            @{
                string section6Check = Html.IsSelected("Backend", "Discounts,SalesOverview,SalesOverviewDetails");
                string section6Display = "display:none;";
                string section6Status = "closed";
                string section6TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section6Check))
                {
                    section6Display = "";
                    section6Status = "open";
                    section6TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section6TitleColor" data-status="@section6Status" data-section="menu-section-6">Orders <i class="fas fa-chevron-circle-down" id="menu-section-6-icon"></i></h6>

            <ul class="navbar-nav" style="@section6Display" id="menu-section-6">

                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "SalesOverview,SalesOverviewDetails")" asp-action="SalesOverview" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/sales-overview.png")" class="img-fluid" width="20px" />&nbsp; Sales ($ @Model.SalesTotalAmount.ToString("0.00")) @*<i class="fas fa-receipt"></i> Sales Overview*@
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "Discounts")" asp-action="Discounts" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/discount.png")" class="img-fluid" width="20px" />&nbsp; Discounts @*<i class="fas fa-percentage"></i> Discounts*@
                    </a>
                </li>
            </ul>


            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            @{
                string section61Check = Html.IsSelected("Backend", "PaypalSettings,SendMoneyToUsers,SendMoneyToUsersPayoutHistory,SendMoneyToUsersInMass,OrdersPayout,OrdersPayoutDetails");
                string section61Display = "display:none;";
                string section61Status = "closed";
                string section61TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section61Check))
                {
                    section61Display = "";
                    section61Status = "open";
                    section61TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading clickable menu-section-toggle @section61TitleColor" data-status="@section61Status" data-section="menu-section-61">Payments <i class="fas fa-chevron-circle-down" id="menu-section-61-icon"></i></h6>

            <ul class="navbar-nav" style="@section61Display" id="menu-section-61">
                @if (User.Identity.Name.ToLower() == "admin")
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.IsSelected("Backend", "PaypalSettings")" asp-action="PaypalSettings" asp-controller="Backend">
                            <img src="@Url.Content("~/img/newicons/paypal-settings.png")" class="img-fluid" width="20px" />&nbsp; Paypal Account Settings @*<i class="fas fa-cogs"></i> Paypal Account Settings*@
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "SendMoneyToUsers,SendMoneyToUsersPayoutHistory")" asp-action="SendMoneyToUsers" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/send-money.png")" class="img-fluid" width="20px" />&nbsp; Single Payout @*<i class="fas fa-hand-holding-usd"></i> Single Payout*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "SendMoneyToUsersInMass")" asp-action="SendMoneyToUsersInMass" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/masspayment.png")" class="img-fluid" width="20px" />&nbsp; Mass Payout
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  timezoneoffset @Html.IsSelected("Backend", "OrdersPayout,OrdersPayoutDetails")" asp-action="OrdersPayout" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/orderpayout.jpg")" class="img-fluid" width="20px" />&nbsp; Orders Payout
                    </a>
                </li>
            </ul>


            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            @{
                string section5Check = Html.IsSelected("Backend", "Addresses,FAQ,Blog,BlogAddPost,BlogEditPost,News,NewsAddPost,NewsEditPost,Promotion,PromotionAddPost,PromotionEditPost,PrivacyPolicy,SocialMedia,TermsOfService,CookieConsent,AppConfig,TimeZone,SessionManager,EmailTemplateEditor,EmailTemplateAdd,EmailTemplateEdit");
                string section5Display = "display:none;";
                string section5Status = "closed";
                string section5TitleColor = "text-muted";
                if (!string.IsNullOrWhiteSpace(section5Check))
                {
                    section5Display = "";
                    section5Status = "open";
                    section5TitleColor = "text-primary";
                }
            }
            <h6 class="navbar-heading  clickable menu-section-toggle @section5TitleColor" data-status="@section5Status" data-section="menu-section-5">Miscellaneous <i class="fas fa-chevron-circle-down" id="menu-section-5-icon"></i></h6>
            <!-- Navigation -->
            <ul class="navbar-nav" style="@section5Display" id="menu-section-5">
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "AppConfig")" asp-action="AppConfig" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/app-manager.png")" class="img-fluid" width="20px" />&nbsp; App Manager @*<i class="fas fa-cog"></i> App Manager*@
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "TimeZone")" asp-action="TimeZone" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/session-manager.png")" class="img-fluid" width="20px" />&nbsp; Time Zone--> @*<i class="fas fa-cog"></i> App Manager*@
                    <!--</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "Addresses")" asp-action="Addresses" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/addresses.png")" class="img-fluid" width="20px" />&nbsp; Addresses @*<i class="fas fa-map-marker-alt"></i> Addresses*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link backend-nav-item @Html.IsSelected("Backend", "Blog,BlogAddPost,BlogEditPost")" asp-action="Blog" asp-controller="Backend" id="_NavItem_Blog">
                        <img src="@Url.Content("~/img/newicons/blog.png")" class="img-fluid" width="20px" />&nbsp; Blog Posts @*<i class="fas fa-newspaper"></i> Blog Posts*@
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "CookieConsent")" asp-action="CookieConsent" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/cookies-consent.png")" class="img-fluid" width="20px" />&nbsp; Cookies Consent--> @*<i class="fas fa-cogs"></i> Cookies Consent*@
                    <!--</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "EmailTemplateEditor,EmailTemplateAdd,EmailTemplateEdit")" asp-action="EmailTemplateEditor" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/email-portal.png")" class="img-fluid" width="20px" />&nbsp; Email Portal @*<i class="far fa-envelope"></i> Email Portal*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "FAQ")" asp-action="FAQ" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/faq.png")" class="img-fluid" width="20px" />&nbsp; FAQ @*<i class="far fa-question-circle"></i> FAQ*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link backend-nav-item @Html.IsSelected("Backend", "News,NewsAddPost,NewsEditPost")" asp-action="News" asp-controller="Backend" id="_NavItem_News">
                        <img src="@Url.Content("~/img/newicons/news.png")" class="img-fluid" width="20px" />&nbsp; News Posts @*<i class="far fa-file-alt"></i> News Posts*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link backend-nav-item @Html.IsSelected("Backend", "Promotion,PromotionAddPost,PromotionEditPost")" asp-action="Promotion" asp-controller="Backend" id="_NavItem_Promotion">
                        <img src="@Url.Content("~/img/newicons/promotions.png")" class="img-fluid" width="20px" />&nbsp; Promotions Posts @*<i class="far fa-bookmark"></i> Promotions Posts*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "PrivacyPolicy")" asp-action="PrivacyPolicy" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/privacy-policy.png")" class="img-fluid" width="20px" />&nbsp; Privacy Policy @*<i class="fas fa-user-lock"></i> Privacy Policy*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "SocialMedia")" asp-action="SocialMedia" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/social-media.png")" class="img-fluid" width="20px" />&nbsp; Social Media @*<i class="fas fa-link"></i> Social Media*@
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link timezoneoffset @Html.IsSelected("Backend", "SessionManager")" asp-action="SessionManager" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/session-manager.png")" class="img-fluid" width="20px" />&nbsp; Session Manager--> @*<i class="fas fa-cogs"></i> Session Manager*@
                    <!--</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link @Html.IsSelected("Backend", "TermsOfService")" asp-action="TermsOfService" asp-controller="Backend">
                        <img src="@Url.Content("~/img/newicons/terms-of-service.png")" class="img-fluid" width="20px" />&nbsp; Terms of Service @*<i class="fas fa-align-justify"></i> Terms of Service*@
                    </a>
                </li>
            </ul>
            <p class="my-2 py-3 text-smaller text-center">@DateTime.Now.Year &copy; Shortchase, Inc.</p>

        </div>
    </div>
</nav>
