
<div class="list-a-pick-form-input-wrapper list-a-pick-form-input-wrapper-charcount">
    <input class="charCount" type="text" id="@ViewData["Id"]" name="@ViewData["Id"]" placeholder="@ViewData["Placeholder"]" maxlength="@ViewData["MaxLength"]" >
    <p class="m-0 text-small text-light-grey text-char-count">
        <span id="@ViewData["Id"]_CharCount">
            0
        </span>
        / @ViewData["MaxLength"]
    </p>
</div>