@model BackendUserListDto
<!-- Edit Modal -->
@{Func<dynamic, object> EditModalContent = @<div>
        <form class="row" id="EditAdministratorModalForm">
            <input type="hidden" id="EditAdministratorId" value="0" />
            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:input id="EditFirstName" label="First Name" type="text" class="" required="true" placeholder="e.g. John" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:input id="EditLastName" label="Last Name" type="text" class="" required="true" placeholder="e.g. Doe" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditEmail" label="Email" type="text" class="" required="true" placeholder="e.g. anotheradmin@shortchase.com" value="" disabled="true"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="w-100">
                    <label for="EditCountry" class="mb-0 text-smaller pl-1 font-weight-600 d-block">Phone Country</label>
                    <select class="selectpicker " id="EditCountry" required data-live-search="true">

                        @foreach (var item in Model.CountriesOptions)
                        {
                            if (item.Id == Model.DefaultCountryId)
                            {
                                <option value="@item.Id" id="EditCountryOption-@item.Id" data-code="@item.Code" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id" id="EditCountryOption-@item.Id" data-code="@item.Code">@item.Name</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <vc:input id="EditPhoneCode" label="Phone Country Code" type="text" class="" required="false" placeholder="e.g. +1" value="+@Model.DefaultCountryPhoneCode" disabled="true"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <vc:input id="EditPhoneNumber" label="Phone Number" type="text" class="" required="true" placeholder="e.g. 5875742143" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <vc:input id="EditRole" label="Role (For future versions development)" type="text" class="" required="false" placeholder="" value="" disabled="true"></vc:input>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="m-0 text-muted text-small">
                    (Leave the passwords field blank if you want to keep the same passowrd)
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:input id="EditPassword" label="Password" type="password" class="" required="false" placeholder="e.g. MyN3wP@SSW0RD" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <vc:input id="EditRepeatPassword" label="Repeat the Password" type="password" class="" required="false" placeholder="e.g. MyN3wP@SSW0RD" value="" disabled="false"></vc:input>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-3">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-link text-dark-as-homepage">Cancel</button>
                <button type="submit" class="btn btn-dark-as-homepage">Save</button>
            </div>
        </form>


    </div>;}
<vc:modal content="EditModalContent" id="EditAdministratorModal" locked="false" title="Edit Administrator"></vc:modal>


<input id="EditAdministratorModalURL" hidden value="@Url.Action("EditAdministrator", "Backend")" />