@{
    Layout = "_WebsiteLayout";
}

<section id="CategoriesSection">

    <div class="container extended-container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="section-title mt-4 mb-4">
                    Popular Categories
                </p>
                <p class="py-2 section-sub-title mb-5">
                    Explore thousands of betting predictions, tips and odds.
                </p>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-6 col-md-10 col-lg-10 pb-5">



                <div class="row d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">


                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="7" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style="background-image: url(@Url.Content("~/img/categories/athlectics.jpg")); ">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Athletics</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="10" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/basketball.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">BasketBall</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="11" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/boxing.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Boxing</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="20" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/Formula1.jpg"));
    ">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Formula 1</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="34" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/politics.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Politics</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="19" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/soccer.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Soccer</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <a data-id="42" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/specials.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Specials</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center image-category-wrapper pb-5 pr-2">

                        <adata-id ="45" href="#" class="marketplace-item-link d-block no-text-transform-on-hover">

                            <div class="transition shadow-sm img-with-scaling-effect div-image-wrapper" style=" background-image: url(@Url.Content("~/img/categories/tennis.jpg"));
">
                                <div class="d-flex justify-content-center align-items-center inner-div-image-wrapper">


                                </div>
                                <p class="imageTextandBackgroundColor m-0 py-2 pl-3 MontserratBold " style="width:100%; position:relative; top:-100px; color:white">Tennis</p>
                            </div>
                            </a>
                    </div>

                </div>

                <vc:home-categories-display show-all-items="false"></vc:home-categories-display>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>

    </div>
</section>

<div id="POTDPartWrapper">

</div>

<div class="bg-white" id="TrendingSection">

</div>

<section class="bg-white" id="WhatIsShortChaseSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-5">
                <h2 class="section-title text-center">
                    What is Shortchase?
                </h2>
                <p class="text-center d-none d-sm-none d-md-none d-lg-block py-4 px-2 section-text">
                    Shortchase is a resourceful betting predictions, tips and odds marketplace<br />
                    connecting astute handicappers and bettors to sell and buy all things handicapping.<br />
                    Shortchase is not a bookmaking, betting and online gambling company; it is merely<br />
                    a broker and receives percentage service fees in conjunction with every bet<br />
                    listing traded between handicappers and bettors. Welcome to the Shortchase<br />
                    community - a win win marketplace!
                </p>
                <p class="text-center d-block d-sm-block d-md-block d-lg-none py-4 px-2 section-text">
                    Shortchase is a resourceful betting predictions, tips and odds marketplace
                    connecting astute handicappers and bettors to sell and buy all things handicapping.
                    Shortchase is not a bookmaking, betting and online gambling company; it is merely
                    a broker and receives percentage service fees in conjunction with every bet
                    listing traded between handicappers and bettors. Welcome to the Shortchase
                    community - it's a win win!
                </p>
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-0 pb-5" id="HowItWorksSection" style="background-color: #FFFFFF">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-title-how-it-works text-center pb-4">
                    How it Works
                </h2>
            </div>
            <div class="col-sm-12 col-md-3"></div>
            <div class="col-sm-12 col-md-6 d-none d-sm-none d-md-block d-lg-block">
                <div class="row py-3">
                    <div class="col-sm-12 col-md-3">
                        <div class="howItWorksImage">
                            <img src="@Url.Content("~/img/icon_create.png")" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <span class="howItWorksNumber">
                            1
                        </span>
                        <h5 class="section-title-how-it-works-titles py-3 m-0">
                            Create a Bet Listing
                        </h5>
                        <p class="section-title-how-it-works-text">
                            Handicappers post betting predictions, tips and odds; they are able to list one pick per post and five posts maximum per day and it becomes available to bettors immediately.
                        </p>
                    </div>
                </div>

                <div class="row py-3">
                    <div class="col-sm-12 col-md-3">
                        <div class="howItWorksImage">
                            <img src="@Url.Content("~/img/icon_order.png")" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <span class="howItWorksNumber">
                            2
                        </span>
                        <h5 class="section-title-how-it-works-titles py-3 m-0">
                            Order Bet Listing
                        </h5>
                        <p class="howItWorksText">
                            Bettors can purchase choice premium bet listing and pay via our secure payment system; free betting predictions, tips and odds posted by handicappers are also available.
                        </p>
                    </div>
                </div>


                <div class="row py-3">
                    <div class="col-sm-12 col-md-3">
                        <div class="howItWorksImage">
                            <img src="@Url.Content("~/img/icon_verify.png")" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <span class="howItWorksNumber">
                            3
                        </span>
                        <h5 class="section-title-how-it-works-titles py-3 m-0">
                            Verified Results
                        </h5>
                        <p class="section-title-how-it-works-text">
                            We track handicappers’ results so bettors can determine who knows how best to beat the odds. Result for betting predictions listed by handicappers are validated by us either as successful or unsuccessful.
                        </p>
                    </div>
                </div>
            </div>




            <div class="col-sm-12 col-md-3"></div>
        </div>
    </div>
</section>


<partial name="Partials/ForBettorsAndCappers" />

<section class="bg-white" id="TestimonialsSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-1"></div>
            <div class="col-sm-12 col-md-10 text-center">
                <img src="@Url.Content("~/img/icon_quote.png")" class="img-fluid" width="70px" />
                <div id="TestimonialsDynamicContent">
                    <div id="testimonialContent_1">
                        <p class="testimonial-text py-4 d-none d-sm-none d-md-block d-lg-block">
                            The essence of creating the Shortchase community is to provide bettors with a<br />
                            resourceful pool of betting information typically posted by handicappers in order<br />
                            to deliver to them a seamless betting experience.
                        </p>
                        <p class="testimonial-text py-4 d-block d-sm-block d-md-none d-lg-none">
                            The essence of creating the Shortchase community<br />
                            is to provide bettors with a resourceful pool of betting<br />
                            information typically posted by handicappers in order<br />
                            to deliver to them a seamless betting experience.
                        </p>
                        <p class="testimonial-author">
                            Babat Lawrence, <i>Founder & CEO</i>
                        </p>
                    </div>

                    <div id="testimonialContent_2" style="display:none;">
                        <p class="testimonial-text py-4 d-none d-sm-none d-md-block d-lg-block">
                            Are you interested in betting predictions and tips? List your pick while you<br />
                            also find tips and predictions easily on our friendly and easy to use platform.<br />
                            Shortchase makes betting easy!
                        </p>

                        <p class="testimonial-text py-4 d-block d-sm-block d-md-none d-lg-none">
                            Are you interested in betting predictions and tips?<br />
                            List your pick while you also find tips and predictions easily<br />
                            on our friendly and easy to use platform. Shortchase makes<br />
                            betting easy!
                        </p>
                        <p class="testimonial-author">
                            Yinka Stephen,  <i>COO</i>
                        </p>
                    </div>
                </div>
                <p>
                    <img src="@Url.Content("~/img/testimonials_babat.jpg")" class="testimonialPicture testimonialPictureActive" id="testimonialSelector_1" width="50px" height="50px" />
                    <img src="@Url.Content("~/img/testimonials_yinka.jpg")" class="testimonialPicture" id="testimonialSelector_2" width="50px" height="50px" />
                </p>
            </div>
            <div class="col-sm-12 col-md-1"></div>
        </div>
    </div>
</section>

@if (!User.Identity.IsAuthenticated)
{
    <section class="bg-grey-dark-2" id="CallToActionSignUp">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="d-none d-sm-none d-md-none d-lg-block callToActionText py-3">
                        Whether you're looking to monetize your handicapping<br />
                        skills or purchase picks. Shortchase is the platform for you.<br />
                        Not a member yet? Join for free.
                    </p>
                    <p class="d-block d-sm-block d-md-block d-lg-none callToActionText py-3">
                        Whether you're looking to monetize your handicapping
                        skills or purchase picks. Shortchase is the platform for you.
                        Not a member yet? Join for free.
                    </p>
                    <button class="btn btn-dark btn-lg sign-up-button MontserratBold SignUpModalLink px-5 py-3" id="">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </section>
}


<section class="bg-white m-0 p-0 pt-4 pb-4 mt-3 mb-3" id="MarketplaceSection" style="background-color: #F3F3F3; ">
    <div class="container extended-container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class=" text-center py-4 section-marketplace-title">
                    Browse The Marketplace
                </h2>
            </div>

        </div>
        <vc:home-categories-marketplace-display show-all-items="false"></vc:home-categories-marketplace-display>
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <a asp-action="Marketplace" asp-controller="Home" class="btn btn-outline-dark MontserratBold mt-5 timezoneoffset">View All</a>
            </div>
        </div>
    </div>
</section>


<input id="SearchResultsUrl" hidden value="@Url.Action("SearchResults", "Home")" />
<input id="IndexPartTrendingUrl" hidden value="@Url.Action("IndexPartTrending", "Home")" />
<input id="IndexPartPOTDUrl" hidden value="@Url.Action("IndexPartPOTD", "Home")" />
<input id="IndexPartPOTDPrediction" hidden value="@Url.Action("IndexPartPOTDPrediction", "Home")" />


