@model OrderReceiptPDFDto
@{
    Layout = "_PrintableLayout";
}

<section class="bg-grey-dark-3 text-smaller">
    <div class="container">
        <table class="w-100">
            <tr>
                <td width="75%">
                    <img src="@Model.Logo" class="img-fluid" width="160px" />

                </td>
                <td>

                    @if (Model.PrimaryAddress != null)
                    {
                        <p>
                            Shortchase, Inc.<br />
                            @Model.PrimaryAddress.StreetAddress<br />
                            @Model.PrimaryAddress.City @Model.PrimaryAddress.Province, @Model.PrimaryAddress.ZipCode<br />
                            @Model.PrimaryAddress.Country.Name
                        </p>
                    }
                </td>
            </tr>
        </table>
        <div style="border:1px solid #ccc; padding: 10px;">
            <h5>YOUR DETAILS</h5>
            <table class="w-100">
                <tr class="pb-2">
                    <td width="50%">
                        <strong>BILL TO</strong><br />
                        @Model.Details.Order.User.FirstName @Model.Details.Order.User.LastName<br />
                        <br />
                    </td>
                    <td>
                        <strong>EMAIL</strong><br />
                        @Model.Details.Order.User.Email<br />
                        <br />
                    </td>
                </tr>
                <tr class="pb-2">
                    <td width="50%">
                        <strong>ORDER NUMBER</strong><br />
                        @Model.Details.Order.OrderNumber<br />
                        <br />
                    </td>
                    <td>
                        <strong>PHONE NUMBER</strong><br />
                        @Model.Details.Order.User.PhoneNumber<br />
                        <br />
                    </td>
                </tr>
                <tr class="pb-2">
                    <td width="50%">
                        <strong>ORDER DATE</strong><br />
                        @DateHelper.DateSimpleFormat(Model.Details.Order.RowDate.FromUTCData(Model.TimezoneOffset), true)
                    </td>
                    <td>
                        <br />
                        <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 py-2">
                @if (Model.Details.OrderItems.Count > 0)
                {
                    <table id="" class="table table-striped table-bordered w-100" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-uppercase">Listing</th>
                                <th class="text-uppercase">Sold By</th>
                                <th class="text-uppercase">Price</th>
                                <th class="text-uppercase">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Details.OrderItems)
                            {
                                <tr>
                                    <td width="40%" class="p-0">
                                        @{
                                            int countInnerItems = 0;
                                        }
                                        @foreach (var innerItem in item.Where(x => x.SoldBy == item.Key))
                                        {
                                            ++countInnerItems;
                                            if (countInnerItems > 1)
                                            {
                                                <hr class="m-0" />
                                            }
                                            <p class="m-0 px-2 py-1">
                                                @innerItem.ListingTitle
                                            </p>
                                        }
                                    </td>
                                    <td width="20%" class="p-0 px-2 py-1">@item.Key</td>
                                    <td width="20%" class="p-0">

                                        @{
                                            int countInnerItems2 = 0;
                                            decimal total = 0.00m;
                                        }
                                        @foreach (var innerItem in item.Where(x => x.SoldBy == item.Key))
                                        {
                                            total += innerItem.Price;
                                            ++countInnerItems2;
                                            if (countInnerItems2 > 1)
                                            {
                                                <hr class="m-0" />
                                            }
                                            <p class="m-0 px-2 py-1">
                                                $ @innerItem.Price.ToString("0.00")
                                            </p>
                                        }
                                    </td>
                                    <td width="20%" class="p-0 px-2 py-1">
                                        $ @total.ToString("0.00")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="w-100">
                        <tr>
                            <td width="40%">
                            </td>
                            <td>
                                <table id="" class="table table-striped table-bordered w-100" cellspacing="0">

                                    <tr>
                                        <th width="50%">Order Value</th>
                                        <td>$ @Model.Details.Order.TotalBeforeDiscount.ToString("0.00")</td>
                                    </tr>
                                    <tr>
                                        <th>Service Fee</th>
                                        <td>
                                            $ @Model.Details.Order.ServiceFee.ToString("0.00")<br />
                                            <span class="text-muted">(@Model.Details.Order.ServiceFeePercent.ToString("0.00")% of @Model.Details.Order.TotalBeforeTaxAndFees.ToString("0.00"))</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Est. Tax</th>
                                        <td>
                                            $ @Model.Details.Order.EstimatedTax.ToString("0.00")<br />
                                            <span class="text-muted">(@Model.Details.Order.EstimatedTaxPercent.ToString("0.00")% of @Model.Details.Order.TotalBeforeTaxAndFees.ToString("0.00"))</span>
                                        </td>
                                    </tr>
                                    @if (Model.Details.Order.Discount > 0.00m)
                                    {
                                        <tr>
                                            <th>Discount</th>
                                            <td>
                                                - $ @Model.Details.Order.Discount.ToString("0.00")<br />
                                                <span class="text-muted">(@Model.Details.Order.DiscountPercent.ToString("0.00")% of @Model.Details.Order.TotalBeforeDiscount.ToString("0.00"))</span>
                                            </td>
                                        </tr>
                                    }


                                    <tr>
                                        <th class="text-danger MontserratBlack">Order Total</th>
                                        <td class="text-danger MontserratBlack">$ @Model.Details.Order.TotalAfterTax.ToString("0.00")</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                }

            </div>

        </div>
        <p>
            *Please note that if Shortchase's services are provided to you outside of the country where our company’s headquarters is domiciled, only estimated value added tax is applied to your costs.
        </p>
        <p>
            You will automatically be charged for any due amount.
        </p>
        <p class="text-center">Receipt generated at: @DateHelper.DateFormat(DateTime.UtcNow.FromUTCData(Model.TimezoneOffset))</p>
    </div>
</section>