<!DOCTYPE html>
<html class="websiteHtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <vc:app-title app-end="front"></vc:app-title>

    <link rel="shortcut icon" href="@Url.Content("~/img/mini-logo.png")" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/css/printable.css")" />
</head>
<body class="websiteBody">

    @RenderBody()


    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.js")" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>